div.clear{
	clear			:both;
}

#taskboard-wrap{
	/*position		:absolute;
	right			:0px;*/
}

.taskboard{
	text-align		:center;
	border			:1px black solid;
	min-height		:400px;
	background-color:rgb(35, 113, 159);
	/*overflow-x		:scroll;
	width			:1600px;*/
}

.taskboard .tasklist{
	float			:left;
	border			:1px blue;
	margin			:10px;
	padding			:5px;
	background-color:gray;
	color			:white;
	width			:250px;
	min-height		:60px;
}

.tasklistheader{

}

.taskcontainer{
	max-height		:320px;
	overflow-y		:auto;
	min-height		:20px;
}

.taskcard{
	text-align		:left;
	padding-top		:5px;
	padding-bottom	:5px;
	padding-left	:15px;
	padding-right	:15px;
	margin			:4px;
	border-radius	:4px;
	color			:black;
	background-color:white;
	word-break		:break-all;
	min-height		:20px;
	cursor			:move;
}

.taskcard textarea{
	float			:left;
}

.taskcard button{
	float			:right;
}

.taskcard button.hide{
	display			:none;
}

.taskcard .glyphicon-remove:hover{
	color			:red;
	cursor			:pointer;
}

.taskcard .glyphicon-remove{
	float			:right;
	color			:#E0E0E0;
}

.taskcard .color-panel{
	min-height		:30px;
	border			:1px black;
	padding			:5px;
	display			:none;
}

.taskcard .color-choice{
	border			:1px black solid;
	height			:20px;
	width			:20px;
	float			:left;
	border-radius	:5px;
	cursor			:pointer;
	margin-right	:5px;
}

.taskcard .color-label{
	border			:1px black;
	height			:10px;
	width			:10px;
	float			:right;
	border-radius	:50%;
}

.taskcreator{
	padding-top		:5px;
	padding-bottom	:5px;
	padding-left	:15px;
	padding-right	:15px;
	margin			:4px;
	border-radius	:4px;
	color			:black;
	background-color:white;
	word-break		:break-all;
	width			:60%;
}

.newtaskcard{
	background		:transparent;
	color			:white;
	cursor			:pointer;
}