<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<div id="app">
<!--
	<div id="team-menu" style="margin-left:230px">
		<a type="button" style="width:40px">1</a>
	</div>
-->
	<nav id="nav-view" class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Jamii</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div id="team-menu" style="position:fixed; left:230px">
			  <a id="team-menu-home" type="button" href="#team" class="btn btn-default navbar-btn">Home</a>
			  <a id="team-menu-learn" type="button" href="#team/learn" class="btn btn-default navbar-btn">Learn</a>
			  <a id="team-menu-workspace" type="button" href="#team/workspace" class="btn btn-default navbar-btn">WorkSpace</a>
			  <a id="team-menu-inbox" type="button" href="#team/inbox" class="btn btn-default navbar-btn">Inbox</a>
			</div>
		  <ul id="user-navview" class="nav navbar-nav navbar-right">
			<li><a id="user-navview-thumbnail" href="#" style="padding:5px"><img src="{{MEDIA_URL}}{{user.jamiiuser.thumbnail}}" alt="..." class="img-circle" height="40px"></a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{user.first_name}} {{user.last_name}} <b class="caret"></b></a>
			  <ul class="dropdown-menu">
				<li><a id="user-navview-notification"href="#"><span class="badge pull-right">42</span>Notifications</a></li>
				<li><a id="user-navview-inbox"href="#"><span class="badge pull-right">4</span>Inbox</a></li>
				<li><a id="user-navview-setting" href="#">Settings</a></li>
				<li class="divider"></li>
				<li><a id="user-navview-signout" href="#">sign out</a></li>
			  </ul>
			</li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div id="menu" style="position:fixed; top:50px; bottom:0px; width:230px; max-height:100%; height:auto; border:#e8e8e8 1px solid;">
		<!--
		<button type="button" class="btn btn-default btn-md" style="position:absolute;left:210px; top:50%; z-index:10000">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
		-->
		<div id="user-menu">
		  <a href="#" class="list-group-item active">News Feed</a>
		</div>
		  Group
		<div id="team-menu">
		</div>
		<div id="network-menu">
		  Network
			<a href="#" class="list-group-item">Network</a>
		</div>
	</div>
	<div id="page-view" style="margin-left:230px; padding-top:50px">
		
	</div>
</div>
<!-- Load Libaries -->
<script src="{% static 'js/lib/jquery-1.11.1.js' %}"></script>
<script src="{% static 'js/lib/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrap.min.js'%}"></script>
<script src="{% static 'js/lib/underscore-min.js' %}"></script>
<script src="{% static 'js/lib/backbone-min.js' %}"></script>
<script src="{% static 'js/jamii.js' %}"></script>

<!-- Load Backbone Models-->
<script src="{% static 'js/model/Team.js' %}"></script>
<script src="{% static 'js/model/User.js' %}"></script>
<script src="{% static 'js/model/MenuItem.js' %}"></script>

<!-- Load Backbone 1-level Views-->
<script src="{% static 'js/view/PageView/Team/TeamHomePageView.js' %}"></script>
<script src="{% static 'js/view/PageView/Team/TeamInboxPageView.js' %}"></script>
<script src="{% static 'js/view/PageView/Team/TeamLearnPageView.js' %}"></script>
<script src="{% static 'js/view/PageView/Team/TeamWorkspacePageView.js' %}"></script>

<!-- Load Backbone 2-level Views-->
<script src="{% static 'js/view/PageView/Team/TeamView.js' %}"></script>

<!-- Load Backbone 3-level Views-->
<script src="{% static 'js/view/NavView.js' %}"></script>
<script src="{% static 'js/view/MenuView.js' %}"></script>
<script src="{% static 'js/view/PageView/PageView.js' %}"></script>
<script src="{% static 'js/view/app.js' %}"></script>



</body>
</html>