<html>
<head>

</head>
<body>
<div style="height:100px"></div>
<div style="width:100%; text-align:center">
<h1> Jamii </h1>
	<form action="" method="post">
		{% csrf_token %}
		<div style="border:orange 1px solid; width:300px; margin:auto; padding:10px">
		{{loginform.as_p}}
		<input type="submit" value="submit">
		{% if is_invalid %}
			<p style="color:red">Your accounts seems to be invalid</p>
		{% endif %}
		</div>
	</form>
	{{introduction_video |safe}}
	<p style="margin-top:50px">{{introduction}}</p>
</div>



<script>
</body>
</html>