<div id="inbox-view-header">
	<div class="dropdown" style="float:left">
		<a data-toggle="dropdown" href="#">Dropdown trigger</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			...
		</ul>
	</div>
	<input id="inbox-search" type="text" placeholder=" search message"></input>
</div>
<div id="msgbox-list">
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object" src="/media/thumbnail/Karin.jpg" alt="...">
		</a>
		<div class="media-body">
			<h4 class="media-heading">Karin</h4>
			Go back to work!! Go back to work!! Go ...
		</div>
	</div>
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object" src="/media/thumbnail/Bo5Uyt0IQAApeaK.jpg" alt="...">
		</a>
		<div class="media-body">
			<h4 class="media-heading">Karin, Ashna</h4>
			Go back to work!! Go back to work!! Go ...
		</div>
	</div>
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object" src="/media/thumbnail/Karin.jpg" alt="...">
		</a>
		<div class="media-body">
			<h4 class="media-heading">Karin</h4>
			Go back to work!! Go back to work!! Go ...
		</div>
	</div>
	<div id="new-message-thread">
		<span class="glyphicon glyphicon-plus"></span> New inbox message
	</div>
</div>
<div id="message-view">
	<div id="message-view-header">
		<div id="message-create-date">25 June</div>
		<div id="message-attendants">
			<img src="/media/thumbnail/Karin.jpg" width="64px" height="64px">
			<img src="/media/thumbnail/Bo5Uyt0IQAApeaK.jpg" width="64px" height="64px">
		</div>
		<h4 id="message-subject">
			Go back to work!!
		</h4>
		
		<div class="clear"></div>
	</div>
	<div id="message-view-container">
		<div class="message-box">
			<div class="message-poster">
				<img src="/media/thumbnail/Karin.jpg" width="32px" height="32px">
			</div>
			<div class="message-datetime">25 June</div>
			<div class="message">
				Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
			</div>
			<div class="clear"></div>
		</div>
		<div class="message-box">
			<div class="message-poster">
				<img src="/media/thumbnail/Karin.jpg" width="32px" height="32px">
			</div>
			<div class="message-datetime">25 June</div>
			<div class="message">
				Hello<br>
				Hello<br>
				Hello<br>
				Hello<br>
				HelloHelloHelloHelloHelloHello
			</div>
			<div class="clear"></div>
		</div>
		<div class="message-box">
			<div class="message-poster">
				<img src="/media/thumbnail/Bo5Uyt0IQAApeaK.jpg" width="32px" height="32px">
			</div>
			<div class="message-datetime">25 June</div>
			<div class="message">
				Hello<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Hello<br>
				HelloHelloHelloHelloHelloHello
			</div>
			<div class="clear"></div>
		</div>
		<div class="message-box">
			<div class="message-poster">
				<img src="/media/thumbnail/Karin.jpg" width="32px" height="32px">
			</div>
			<div class="message-datetime">25 June</div>
			<div class="message">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				HelloHelloHelloHelloHelloHello
			</div>
			<div class="clear"></div>
		</div>
		<div class="message-box">
			<div class="message-poster">
				<img src="/media/thumbnail/Bo5Uyt0IQAApeaK.jpg" width="32px" height="32px">
			</div>
			<div class="message-datetime">25 June</div>
			<div class="message">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Hello<br> HelloHelloHelloHelloHelloHello
			</div>
			<div class="clear"></div>
		</div>
		<div class="message-box">
			<div class="message-poster">
				<img src="/media/thumbnail/Bo5Uyt0IQAApeaK.jpg" width="32px" height="32px">
			</div>
			<div class="message-datetime">25 June</div>
			<div class="message">
				Hello<br>
				Hello<br>
				Hello<br>
				Hello<br>
				HelloHelloHelloHelloHelloHello
			</div>
			<div class="clear"></div>
		</div>
		<div class="message-box">
			<div class="message-poster">
				<img src="/media/thumbnail/Karin.jpg" width="32px" height="32px">
			</div>
			<div class="message-datetime">25 June</div>
			<div class="message">
				Hello<br>
				Hello<br>
				Hello<br>
				Hello<br>
				HelloHelloHelloHelloHelloHello
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="message-view-footer">
		<textarea placeholder="reply here"></textarea>
		<button>Reply</button>
	</div>
</div>

